.Debut
{
    font-size: 1.25em;
    line-height: 0.2;
    text-align: center;
    margin-top: 30px; /* Cette règle définit une marge de 50 pixels en haut de l'élément */
    font-family: Arial, sans-serif;
}
#slogan
{
  font-size: 0.6em;
}

p
{
  font-family: Arial, Helvetica, sans-serif;
}


#monLogo
{
  float: left;
  margin-top: 1px; /* Cette règle définit une marge de 50 pixels en haut de l'élément */
}

section
{
  clear: both;
}

body
{
  background-color: #b8bfba;
}